*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:root{
    --fontColor: #9D2F30;
    --niceBackground: #ededed;
    --windowsBackground: #1F8080;
    --buttonPressedShadow: #C2C2C2;
}
body{
    background-color: var(--windowsBackground);
    height: 100vh;
    color: var(--fontColor);
}

.buttonContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 3em;
    margin-left: 20em;
    padding: 18px;
    border: 2px solid white;
    box-shadow: -10px 8px 5px black;
    background-color: antiquewhite;
}

button{
    width: 200px;
    padding: 10px;
    color: black;
    background-color: #C2C2C2;
    
}


.gridContainer{
    position: relative;
    margin-top: 2em;
    margin-left: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: fit-content;
    background-color: antiquewhite;
    box-shadow: 10px 8px 5px black;
    width: 600px;
    height: 600px;
}
