*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background: linear-gradient(80deg, #A1AB26, #5BA2C3, #DD55D4)
}

.buttonContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 3em;
    margin-left: 20em;
}

button{
    padding: 10px;
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
