*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:root{
    --fontColor: #9D2F30;
    --niceBackground: #ededed;
}
body{
    background-color: var(--niceBackground);
    height: 100vh;
    color: var(--fontColor);
}

.buttonContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 3em;
    margin-left: 20em;
    padding: 18px;
}

button{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--fontColor);
}
button:hover{
    box-shadow: inset 0px -4px 10px rgba(12, 76, 89, 0.8);
}

.gridContainer{
    position: relative;
    margin-top: 2em;
    margin-left: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: fit-content;
    background-color: antiquewhite;
    box-shadow: 10px 8px 5px black;
    width: 600px;
    height: 600px;
}
